<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.web.system.mapper.SysRolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.qf.web.system.domain.entity.SysRolePermission">
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="permissionId" column="permission_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,permission_id
    </sql>
    <delete id="deleteByRoleId">
        delete from sys_role_permission where role_id = #{roleId}
    </delete>
    <insert id="batchInsert">
        insert into sys_role_permission (role_id,permission_id)
        values
        <foreach collection="btnList" item="item" index="index" separator=",">
            (#{item.roleId},#{item.permissionId})
        </foreach>
    </insert>
</mapper>
