<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.web.system.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.qf.web.system.domain.entity.SysRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        sort,status,is_deleted,
        create_time,update_time,create_by,
        update_by
    </sql>
    <insert id="saveRole">
        insert into sys_role
        (name,code,remark)
        values
        (#{name},#{code},#{remark})
    </insert>
    <update id="updateRoleById">
        update sys_role
        set
        name = #{name},
        code = #{code},
        remark = #{remark}
        where id = #{roleId}
    </update>
    <update id="deleteRoleById">
        update sys_role set is_deleted = 1
        where id = #{roleId}
    </update>
    <select id="selectRoleByUserId" resultType="java.lang.String">
        select r.code
        from sys_role r
        where r.id in (select ur.role_id
                       from sys_user_role ur
                       where ur.user_id = #{userId})
    </select>
    <select id="getPage" resultType="com.qf.web.system.domain.vo.RolePageVo">
        select
        id,name,code,sort,status,is_deleted,remark,create_time,update_time
        from sys_role
        <where>
            <if test="name!= null and name!= ''">
                and name = #{name}
            </if>
            <if test="code!= null and code!= ''">
                and code = #{code}
            </if>
            <if test="status!= null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="getRoleOptions" resultType="com.qf.web.system.domain.vo.OptionsVo">
        select r.id, r.name
        from sys_role r
        where r.is_deleted = 0
    </select>
    <select id="getRoleById" resultType="com.qf.web.system.domain.vo.RoleVo">
        select
            id,name,code,sort,status,is_deleted,remark
        from sys_role
        where id = #{roleId}
    </select>
    <select id="selectPermByRoleId" resultType="java.lang.Long">
        select m.id
        from sys_role_menu rm
                 left join sys_menu m on rm.menu_id = m.id
        where rm.role_id = #{roleId}
    </select>
</mapper>
