<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.web.system.mapper.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.qf.web.system.domain.entity.SysUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,nickname,
        gender,password,avatar,
        mobile,status,email,
        is_deleted,content,create_time,
        update_time,create_by,update_by
    </sql>
    <update id="updateUserById">
        update sys_user
        <set>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=INTEGER},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{userId}
    </update>
    <update id="deleteByUserId" parameterType="java.util.List">
        update sys_user set is_deleted = 1 WHERE id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <update id="resetPassword">
        update sys_user set password = #{password} where id = #{userId}
    </update>
    <select id="queryUser" resultType="com.qf.web.system.domain.vo.UserPageVo">
        select id,username,nickname,mobile,gender,avatar,email,status,create_time
        from sys_user
        <where>
            <if test="username!= null and username!= ''">
                and username = #{username}
            </if>
            <if test="phone!= null and phone!= ''">
                or phone = #{phone}
            </if>
            <if test="status!= null and status!= ''">
                and status = #{status}
            </if>
        </where>
        group by id
    </select>
    <select id="getUserFormByUid" resultType="com.qf.web.system.domain.form.UserForm">
        select id,username,nickname,mobile,gender,avatar,email,status
        from sys_user
        where id = #{uid}
    </select>
</mapper>
