<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.web.system.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.qf.web.system.domain.entity.SysUserRole">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,role_id
    </sql>
    <insert id="addRoleByUserId">
        insert into sys_user_role
        (user_id,role_id)
        values
        (#{userId},#{roleId})
    </insert>
    <update id="updateRoleByUserId">
        update sys_user_role
        set role_id = #{roleId}
        where user_id = #{userId}
    </update>
    <select id="selectRoleIdByUserId" resultType="java.lang.Long">
        select r.id
        from sys_role r
        where r.deleted = 0
          and r.id in (select ur.role_id from sys_user_role ur where ur.user_id = #{userId})
    </select>
</mapper>
