<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.web.mapper.BlogCategoryMapper">

    <resultMap id="BaseResultMap" type="com.qf.web.domain.entity.BlogCategory">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="categoryIcon" column="category_icon" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_name,category_icon,
        create_time,update_time
    </sql>
    <select id="getPage" resultType="com.qf.web.domain.entity.BlogCategory">
        SELECT
        id,category_name,category_icon,
        create_time,update_time
        FROM blog_category
        <where>
            <if test="keywords!= null and keywords!= ''">
                AND category_name LIKE CONCAT('%',#{keywords},'%')
            </if>
        </where>
    </select>
</mapper>
